body {
    font-family: 'Open Sans', sans-serif;
    color: #30363D;
    font-size: 20px;
}


.navbar {
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    border: 0;
    margin-bottom: 0;
    width: 100%;
    font-size: 20px;
    letter-spacing: 5px;
    align-items: center;
}

.navbar-dark {
    background-color: #EC7902;
}




/* change the link color */
.navbar-dark .navbar-nav .nav-link {
    color: white;
    margin-left: 20px;
}

/* change the color of hovered nav */
.navbar-dark .nav-item:hover .nav-link {
    color: grey;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.header {
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 800;
    font-size: 30px;
}

.combo {
    max-width: 40%;
}

.featured {
    max-width: 50%;
}

.row {
    text-align: center;
    font-weight: 800;
}

.burger {
    color: #915429;
}

.chicken {
    color: #DE7D01;
}

.veggies {
    color: #5B9422;
}

.breakfast {
    color: #EC8824;
}

.beverages {
    color: #A80085;
}

.coffee {
    color: #FF5983;
}

.fries {
    color:#F8AD00;
}

.sweets {
    color:#0073D0;
}

.menu-1:hover, .menu-2:hover, .menu-3:hover, .menu-4:hover, .menu-5:hover, .menu-6:hover, .menu-7:hover, .menu-8:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #EC7902;
    color: white;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
  
}